---
import CommonLayout from "../layouts/CommonLayout.astro";
import Intro from "../components/Intro.astro";
import Landing from "../components/Landing.astro";
import Projects from "../components/Projects.astro";
import "iconify-icon";

import fireoverlayVideo_webm from "../assets/videos/fireoverlay-optimized.webm";
import fireoverlayVideo_mp4 from "../assets/videos/fireoverlay-optimized.mp4";

import liquidVideo_webm from "../assets/videos/liquid1-optimized.webm";
import liquidVideo_mp4 from "../assets/videos/liquid1-optimized.mp4";

import cowsVideo_webm from "../assets/videos/cows-optimized.webm";
import cowsVideo_mp4 from "../assets/videos/cows-optimized.mp4";

import bloomVideo_webm from "../assets/videos/bloom-optimized.webm";
import bloomVideo_mp4 from "../assets/videos/bloom-optimized.mp4";

import bloom2Video_webm from "../assets/videos/bloom2-optimized.webm";
import bloom2Video_mp4 from "../assets/videos/bloom2-optimized.mp4";

import cowVideo_webm from "../assets/videos/cow-optimized.webm";
import cowVideo_mp4 from "../assets/videos/cow-optimized.mp4";

import birdVideo_webm from "../assets/videos/bird-optimized.webm";
import birdVideo_mp4 from "../assets/videos/bird-optimized.mp4";

import textureVideo_webm from "../assets/videos/texture-optimized.webm";
import textureVideo_mp4 from "../assets/videos/texture-optimized.mp4";

import lighttextureVideo_webm from "../assets/videos/texture-light-optimized.webm";
import lighttextureVideo_mp4 from "../assets/videos/texture-light-optimized.mp4";

import liquidDrop2Video_webm from "../assets/videos/liquiddrop2-optimized.webm";
import liquidDrop2Video_mp4 from "../assets/videos/liquiddrop2-optimized.mp4";

import DitheredVideoGL from "../components/misc/DitheredVideoGL";
import Footer from "../components/navigation/Footer.astro";

import FireworksVideo_webm from "../assets/videos/fireworks-optimized.webm";
import FireworksVideo_mp4 from "../assets/videos/fireworks-optimized.mp4";

import CandleVideo_wemp from "../assets/videos/candle-optimized.webm";
import CandleVideo_mp4 from "../assets/videos/candle-optimized.mp4";

import BirdMaskedVideo_mp4 from "../assets/videos/birdmasked-optimized.mp4";
import BirdMaskedVideo_webm from "../assets/videos/birdmasked-optimized.webm";
import CaseStudies from "../components/CaseStudies.astro";
---

<CommonLayout>
	<Intro />
    <!-- <div class="fixed inset-0">
        <DitheredVideoGL
            client:only="solid-js"
            webm={FireworksVideo_webm}
            mp4={FireworksVideo_mp4}
            playbackSpeed={1}
            dpr={2}
            dither={{
                chars: "█▓▒░ ",
                fontSizeRange: 7,
                overlay: false,
                bgColor: "transparent",
                invert: true,
                maskMode: "ramp",
                curve: [0.39, 0.53, 0.99, 0.49],
                colorRamp: ["black", "red", "white"],
                trail: 0.05,
                screenBlendIntensity: 0.75,
                useVideoColor: false,
            }}
        />
    </div> -->
	<div id="leftflower" class="hidden md:block z-0 pointer-events-none fixed -left-[20vw] -bottom-[10vh]">
		<DitheredVideoGL
			class="animate-[tighthuerotate_15s_linear_0s_infinite]"
			client:only="solid-js"
			webm={bloomVideo_webm}
			mp4={bloomVideo_mp4}
			playbackSpeed={1.5}
			dpr={2}
			dither={{
				chars: "█▓▒░ ",
				fontSizeRange: 7,
				overlay: false,
				bgColor: "transparent",
				invert: true,
				maskMode: "ramp",
				curve: [0.39, 0.53, 0.99, 0.49],
				colorRamp: ["black", "#1538a1", "#34c261", "#b8fbff", "white"],
				trail: 0.05,
				screenBlendIntensity: 0.75,
				useVideoColor: false,
			}}
		/>
	</div>

	<div
		id="rightflower"
		class="fixed bottom-[-10vh] left-1/2 -translate-x-1/2 md:left-auto md:translate-x-0 md:right-[-15vw] pointer-events-none"
	>
		<DitheredVideoGL
			class="animate-[tighthuerotate_15s_linear_0s_infinite]"
			client:only="solid-js"
			webm={bloom2Video_webm}
			mp4={bloom2Video_mp4}
			dpr={2}
			playbackSpeed={2}
			dither={{
				chars: "█▓▒░ ",
				fontSizeRange: 7,
				overlay: false,
				bgColor: "transparent",
				invert: true,
				curve: [0.19, 0.42, 0.96, 0.6],
				// colorRamp: ['white', '#b8fbff', '#34c261', '#1538a1', "black"],
				colorRamp: ["black", "#1538a1", "#34c261", "#b8fbff", "white"],
				trail: 0.02,
				screenBlendIntensity: 0.75,
			}}
			style={{
				"pointer-events": "none",
			}}
		/>
	</div>
	<script>
        import { gsap } from "@lib/gsap";

		function registerPageTriggers() {
			gsap.to("#rightflower", {
				scrollTrigger: {
					scroller: "#lenis-wrapper",
					trigger: "#nametitle",
					start: "top 10%",
					end: "+=200",
					scrub: true,
				},
				opacity: 0,
				ease: "none",
			});
			gsap.to("#leftflower", {
				scrollTrigger: {
					scroller: "#lenis-wrapper",
					trigger: "#nametitle",
					start: "top 10%",
					end: "+=200",
					scrub: true,
				},
				opacity: 0,
				ease: "none",
			});
		}

		function setBlackBackground() {
			const bg = document.getElementById("backdrop");
			if (bg) (bg as HTMLElement).style.backgroundColor = "black";
		}

		document.addEventListener("astro:page-load", () => {
			setBlackBackground();
			registerPageTriggers();
		});
		setBlackBackground();
		registerPageTriggers();
	</script>

	<!-- <div id="fire-video" class="fixed inset-0 -z-10 mix-blend-lighten pointer-events-none">
		<video
			class="h-full w-full object-cover"
			onloadedmetadata="this.playbackRate = 0.7"
			autoplay
			muted
			loop
			playsinline
		>
			<source src={fireoverlayVideo_webm} type="video/webm" />
			<source src={fireoverlayVideo_mp4} type="video/mp4" />
		</video>
	</div> -->

	<!-- <div id="light-video" class="opacity-0 fixed inset-0 -z-10 mix-blend-lighten pointer-events-none">
		<video
			class="h-full w-full object-cover"
			autoplay
			muted
			loop
			playsinline
		>
			<source src={textureVideo_webm} type="video/webm" />
			<source src={textureVideo_mp4} type="video/mp4" />
		</video>
	</div> -->

	<!-- <IntroMotionGraphcis client:only="solid-js" /> -->
	<Landing />
	<CaseStudies />
	<Projects />
</CommonLayout>
