---
import CommonLayout from "../layouts/CommonLayout.astro";
import Intro from "../components/slides/Intro.astro";
import Landing from "../components/Landing.astro";
import Projects from "../components/Projects.astro";
import "iconify-icon";
import IntroMotionGraphcis from "../components/IntroMG";

import fireoverlayVideo_webm from "../assets/videos/fireoverlay-optimized.webm";
import fireoverlayVideo_mp4 from "../assets/videos/fireoverlay-optimized.mp4";

import liquidVideo_webm from "../assets/videos/liquid1-optimized.webm";
import liquidVideo_mp4 from "../assets/videos/liquid1-optimized.mp4";

import cowsVideo_webm from "../assets/videos/cows-optimized.webm";
import cowsVideo_mp4 from "../assets/videos/cows-optimized.mp4";

import bloomVideo_webm from "../assets/videos/bloom-optimized.webm";
import bloomVideo_mp4 from "../assets/videos/bloom-optimized.mp4";

import bloom2Video_webm from "../assets/videos/bloom2-optimized.webm";
import bloom2Video_mp4 from "../assets/videos/bloom2-optimized.mp4";

import cowVideo_webm from "../assets/videos/cow-optimized.webm";
import cowVideo_mp4 from "../assets/videos/cow-optimized.mp4";

import birdVideo_webm from "../assets/videos/bird-optimized.webm";
import birdVideo_mp4 from "../assets/videos/bird-optimized.mp4";

import textureVideo_webm from "../assets/videos/texture-optimized.webm";
import textureVideo_mp4 from "../assets/videos/texture-optimized.mp4";

import lighttextureVideo_webm from "../assets/videos/texture-light-optimized.webm";
import lighttextureVideo_mp4 from "../assets/videos/texture-light-optimized.mp4";

import liquidDrop2Video_webm from "../assets/videos/liquiddrop2-optimized.webm";
import liquidDrop2Video_mp4 from "../assets/videos/liquiddrop2-optimized.mp4";

import DitheredVideoGL from "../components/misc/DitheredVideoGL";
import Footer from "../components/navigation/Footer.astro";

import FireworksVideo_webm from "../assets/videos/fireworks-optimized.webm";
import FireworksVideo_mp4 from "../assets/videos/fireworks-optimized.mp4";

import CandleVideo_wemp from "../assets/videos/candle-optimized.webm";
import CandleVideo_mp4 from "../assets/videos/candle-optimized.mp4";

import BirdMaskedVideo_mp4 from "../assets/videos/birdmasked-optimized.mp4";
import BirdMaskedVideo_webm from "../assets/videos/birdmasked-optimized.webm";
---

<CommonLayout>
	<Intro />
	<div id="leftflower" class="hidden md:block z-0 pointer-events-none fixed -left-[20vw] -bottom-[10vh]">
		<DitheredVideoGL
			class="animate-[tighthuerotate_15s_linear_0s_infinite]"
			client:only="solid-js"
			webm={bloomVideo_webm}
			mp4={bloomVideo_mp4}
			playbackSpeed={2}
			dpr={2}
			dither={{
				chars: "█▓▒░ ",
				fontSizeRange: 7,
				overlay: false,
				bgColor: "transparent",
				invert: true,
				maskMode: "ramp",
				curve: [.39,.53,.99,.49],
				colorRamp: ["black", "#1538a1", "#34c261", "#b8fbff", "white"],
				trail: 0.05,
				screenBlendIntensity: 0.75,
				useVideoColor: false,
			}}
		/>
	</div>

	<!-- <DitheredVideo
		client:only="solid-js"
		webm={liquidVideo_webm}
		mp4={liquidVideo_mp4}
		dither={{ fontSizeRange: 5, overlay: true, color: "blue", invert: false }}
		style={{
			position: "fixed",
			top: 0,
			left: 0,
			"mix-blend-mode": "exclusion",
		}}
	    /> -->

	<div
		id="rightflower"
		class="fixed bottom-[-10vh] left-1/2 -translate-x-1/2 md:left-auto md:translate-x-0 md:right-[-15vw] pointer-events-none"
	>
		<DitheredVideoGL
			class="animate-[tighthuerotate_15s_linear_0s_infinite]"
			client:only="solid-js"
			webm={bloom2Video_webm}
			mp4={bloom2Video_mp4}
			dpr={2}
			playbackSpeed={2}
			dither={{
				chars: "█▓▒░ ",
				fontSizeRange: 7,
				overlay: false,
				bgColor: "transparent",
				invert: true,
				curve: [0.19, 0.42, 0.96, 0.6],
				// colorRamp: ['white', '#b8fbff', '#34c261', '#1538a1', "black"],
				colorRamp: ["black", "#1538a1", "#34c261", "#b8fbff", "white"],
				trail: 0.02,
				screenBlendIntensity: 0.75,
			}}
			style={{
				"pointer-events": "none",
			}}
		/>
	</div>
	<script>
		import gsap from "gsap";
		import { ScrollTrigger } from "gsap/ScrollTrigger";
		gsap.registerPlugin(ScrollTrigger);

		function registerPageTriggers() {
			gsap.to("#rightflower", {
				scrollTrigger: {
					scroller: "#lenis-wrapper",
					trigger: "#nametitle",
					start: "top 10%",
					end: "+=200",
					scrub: true,
				},
				opacity: 0,
				ease: "none",
			});
			gsap.to("#leftflower", {
				scrollTrigger: {
					scroller: "#lenis-wrapper",
					trigger: "#nametitle",
					start: "top 10%",
					end: "+=200",
					scrub: true,
				},
				opacity: 0,
				ease: "none",
			});
		}

		function setBlackBackground() {
			const bg = document.getElementById("backdrop");
			if (bg) (bg as HTMLElement).style.backgroundColor = "black";
		}

		document.addEventListener("astro:page-load", () => {
			setBlackBackground();
			registerPageTriggers();
		});
		setBlackBackground();
		registerPageTriggers();
	</script>

	<!-- <div class="z-10 mix-blend-soft-light h-[200dvh] pointer-events-none animate-[tighthuerotate_15s_linear_0s_infinite]">
		<video
			class="h-full w-full object-cover"
			onloadedmetadata="this.playbackRate = 0.5"
			autoplay
			muted
			loop
			playsinline
		>
			<source src={textureVideo_webm} type="video/webm" />
			<source src={textureVideo_mp4} type="video/mp4" />
		</video>
	</div> -->

	<!-- <div id="fire-video" class="fixed inset-0 -z-10 mix-blend-lighten pointer-events-none">
		<video
			class="h-full w-full object-cover"
			onloadedmetadata="this.playbackRate = 0.7"
			autoplay
			muted
			loop
			playsinline
		>
			<source src={fireoverlayVideo_webm} type="video/webm" />
			<source src={fireoverlayVideo_mp4} type="video/mp4" />
		</video>
	</div> -->

	<!-- <div
		id="liquid-video"
		class="opacity-0 fixed inset-0 -z-10 pointer-events-none"
		style="filter: var(--liquid-filter);"
	>
		<video id="liquid-video-element" class="h-full w-full object-cover" muted playsinline>
			<source src={liquidDrop2Video_webm} type="video/webm" />
			<source src={liquidDrop2Video_mp4} type="video/mp4" />
		</video>
	</div>
	<div
		id="color-back"
		class="opacity-0 w-full h-full fixed inset-0 -z-10 bg-[#eef110]"
		style="filter: var(--liquid-filter);"
	>
	</div> -->
	<!-- <div id="light-video" class="opacity-0 fixed inset-0 -z-10 mix-blend-lighten pointer-events-none">
		<video
			class="h-full w-full object-cover"
			autoplay
			muted
			loop
			playsinline
		>
			<source src={textureVideo_webm} type="video/webm" />
			<source src={textureVideo_mp4} type="video/mp4" />
		</video>
	</div> -->

	<!-- <DitheredVideo
		client:only="solid-js"
		webm={birdVideo_webm}
		mp4={birdVideo_mp4}
		dither={{
			fontSizeRange: 16,
			overlay: false,
			invert: false,
            colorRamp: ["black", "#3624d6", "blue", "cyan", "white"],
			curve: [.7,-0.01,.29,.99],
            trail: 0.1
		}}
		style={{
			position: "fixed",
			right: `17vw`,
			top: `10vh`,
			"pointer-events": "none",
		}}
	/> -->

	<!-- <DitheredVideo
		client:only="solid-js"
		webm={cowVideo_webm}
		mp4={cowVideo_mp4}
		scale={0.5}
		dither={{ fontSizeRange: 6, overlay: true, color: "blue", charMode: { threshold: 40 }, invert: false }}
		style={{
			position: "fixed",
			left: `5vw`,
			top: `10vh`,
			"pointer-events": "none",
			"z-index": 10,
		}}
	/> -->
	<!-- <IntroMotionGraphcis client:only="solid-js" /> -->
	<Landing />
	<Projects />
	<Footer />
</CommonLayout>
